[submodule "Tripouille"]
	path = Tripouille
	url = https://github.com/Tripouille/libftTester.git
[submodule "Libft-unit-test"]
	path = Libft-unit-test
	url = https://github.com/alelievr/libft-unit-test.git
[submodule "Warmachine"]
	path = Warmachine
	url = https://github.com/0x050f/libft-war-machine.git
